<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871021548141-0lt9s2egktnfqbcs1042e0jbpmqc86vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871021548141-0lt9s2egktnfqbcs1042e0jbpmqc86vn</string>
	<key>API_KEY</key>
	<string>AIzaSyATkmOIfTbzbtr4NhJUmZtXZiOwrZc-BXw</string>
	<key>GCM_SENDER_ID</key>
	<string>871021548141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.smiledetector</string>
	<key>PROJECT_ID</key>
	<string>smile-detector-1a0a6</string>
	<key>STORAGE_BUCKET</key>
	<string>smile-detector-1a0a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871021548141:ios:7fc0362e1847ce46706564</string>
</dict>
</plist>